@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



html,body,header{
    background-color: #007991;
    color: #BCD8C1;
    width: min(700px, 100%);
    margin: 0px auto;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

header{
    background-color: #439a86;
    padding:15px 0px 15px 15px;
    margin:0px 0px 15px 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #095463;
  padding: 15px 30px 15px 15px;

}

.item{
    background-color: #222e50;
    margin:15px 0px 15px 0px;
    padding:10px;
    border-radius: 25px;
}